<!DOCTYPE html>
<html>
    <head>
        <title>Hourly Graph</title>
    </head>
    <body>
        <canvas id="mycanvas" width="800" height="300"></canvas>
        <script src="./plot.js"></script>
        <script>
        </script>
    </body>
</html>